<!-- ---------------------------------------------------- 
    DISCOVER SECTION
    ------------------------------------------------------ -->
<main class="discoverSection">
    <div class="discoverContainer paddWidth flex">
        <!--  -->
        <h2>Discover</h2>
        <!-- CARD CONTAINER  -->
        <div class="discoverCardContainers flex">
            <!-- CARD 1 -->
            <div class="discoverCard discoverCard-1 flex">
                <!-- IMAGE -->
                <img src="images/tiger-img.svg" loading="lazy">
                <!-- TEXTS -->
                <div class="txtDiscoverCard flex">
                    <!--  -->
                    <span class="flex">
                        <h3>Golden Leopard</h3>
                        <!--  -->
                        <p>Created by <span class="clrBlue">Abeti Praise</span>
                        </p>
                    </span>
                    <!--  -->
                    <span class="flex">
                        <!--  -->
                        <span class="discoverBid flex">
                            <p>Current bid</p>
                            <!--  -->
                            <span class="ethTxt flex aic">
                                <!-- ETHERIUM ICON -->
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z" />
                                </svg>
                                <!--  -->
                                <h4 class=" clrBlue">0.30 ETH</h4>
                            </span>
                        </span>
                        <!-- CARD BTN -->
                        <!-- EXPLORE BTN -->
                        <a href="#" target="_blank">
                            <button id="exploreBtn" class="btn heroBtn btnBorder">View NFT</button>
                        </a>
                    </span>
                </div>
            </div>
            <!-- CARD 2 -->
            <div class="discoverCard discoverCard-1 flex">
                <!-- IMAGE -->
                <img src="images/glass-girl-img.svg" loading="lazy">
                <!-- TEXTS -->
                <div class="txtDiscoverCard flex">
                    <!--  -->
                    <span class="flex">
                        <h3>Cyberpunk</h3>
                        <!--  -->
                        <p>Created by <span class="clrBlue">Abeti Praise</span>
                        </p>
                    </span>
                    <!--  -->
                    <span class="flex">
                        <!--  -->
                        <span class="discoverBid flex">
                            <p>Current bid</p>
                            <!--  -->
                            <span class="ethTxt flex aic">
                                <!-- ETHERIUM ICON -->
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z" />
                                </svg>
                                <!--  -->
                                <h4 class=" clrBlue">0.30 ETH</h4>
                            </span>
                        </span>
                        <!-- CARD BTN -->
                        <!-- EXPLORE BTN -->
                        <a href="#" target="_blank">
                            <button id="exploreBtn" class="btn heroBtn btnBorder">View NFT</button>
                        </a>
                    </span>
                </div>
            </div>
            <!-- CARD 3 -->
            <div class="discoverCard discoverCard-1 flex">
                <!-- IMAGE -->
                <img src="images/warrior-girl-img.svg" loading="lazy">
                <!-- TEXTS -->
                <div class="txtDiscoverCard flex">
                    <!--  -->
                    <span class="flex">
                        <h3>Cyberpunk</h3>
                        <!--  -->
                        <p>Created by <span class="clrBlue">Abeti Praise</span>
                        </p>
                    </span>
                    <!--  -->
                    <span class="flex">
                        <!--  -->
                        <span class="discoverBid flex">
                            <p>Current bid</p>
                            <!--  -->
                            <span class="ethTxt flex aic">
                                <!-- ETHERIUM ICON -->
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                                    viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path
                                        d="M311.9 260.8L160 353.6 8 260.8 160 0l151.9 260.8zM160 383.4L8 290.6 160 512l152-221.4-152 92.8z" />
                                </svg>
                                <!--  -->
                                <h4 class=" clrBlue">0.30 ETH</h4>
                            </span>
                        </span>
                        <!-- CARD BTN -->
                        <!-- EXPLORE BTN -->
                        <a href="#" target="_blank">
                            <button id="exploreBtn" class="btn heroBtn btnBorder">View NFT</button>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- ---------------------------------------------------- 
    TOP CREATORS SECTION
    ------------------------------------------------------ -->
<main class="topCreatorSection">
    <div class="topCreatorContainer">
        <!-- HEADING -->
        <h3>Top Creators</h3>
        <div class="topCreatorsDashboard flex">
            <table>
                <!-- HEADER -->
                <header>
                    <tr class="flex">
                        <th>Rank</th>
                        <th>Creator Tag</th>
                    </tr>
                    <tr class="flex">
                        <th>Top Earned</th>
                        <th>NFTs Sold</th>
                    </tr>
                </header>
                <!-- BODY -->
                <div class="">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Sproto Pepes</td>
                        <td>Sproto Pepes</td>
                        <td>Sproto Pepes</td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</main>