
<!-- ---------------------------------------------------- 
TOP CREATORS SECTION
------------------------------------------------------ -->
    <main class="topCreatorSection paddWidth">
        <div class="topCreatorsContainer">
            <!-- HEADER TITLE -->
            <h2>
                Top Creators
            </h2>
            <!-- TABLE CONTENT -->
            <div class="creatorTableContainer">
                <!--  -->
                <table class="topCreatorTable">
                    <tr>
                        <span>
                            <th>Rank</th>
                            <th>Creator Tag</th>
                        </span>
                        <span>
                            <th>Country</th>
                            <th>Create NFTs</th>
                        </span>
                    </tr>
                    <!--  -->
                    <tr>
                        <span>
                            <td>Alfred Marshal</td>
                            <td>Mandarine</td>
                        </span>
                        <span>
                            <td>Calunica</td>
                            <td>Campa</td>
                        </span>
                    </tr>
                </table>
            </div>
        </div>
    </main>



<!-- ---------------------------------------------------- 
    TOP CREATORS SECTION
    ------------------------------------------------------ -->
<main class="topCreatorSection">
    <div class="topCreatorContainer">
        <!-- HEADING -->
        <h3>Top Creators</h3>
        <div class="topCreatorsDashboard flex">
            <table>
                <!-- HEADER -->
                <header>
                    <tr class="flex">
                        <th>Rank</th>
                        <th>Creator Tag</th>
                    </tr>
                    <tr class="flex">
                        <th>Top Earned</th>
                        <th>NFTs Sold</th>
                    </tr>
                </header>
                <!-- BODY -->
                <div class="">
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Sproto Pepes</td>
                        <td>Sproto Pepes</td>
                        <td>Sproto Pepes</td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</main>